<%= form_for(@share) do |f| %>
  <% if @share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share.errors.count, "error") %> prohibited this share from being saved:</h2>

      <ul>
      <% @share.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :animal, :class =>"field-label" %><br>
    <%= f.text_field :animal, :class => "form-field" %>
  </div>
  <div class="field">
    <%= f.label :size, :class =>"field-label" %><br>
    <%= f.text_field :size, :class => "form-field" %>
  </div>
  <div class="field">
    <%= f.label "Price per lb", :class =>"field-label" %><br>
    <%= f.number_field :price, :class => "form-field" %>
  </div>
  <div class="field">
    <%= f.label("Processing Fee", :class =>"field-label") %><br>
    <%= f.number_field :fee, :class => "form-field"%>
  </div>
  <div class="field">
    <%= f.label :quantity, :class =>"field-label" %><br>
    <%= f.number_field :quantity, :class => "form-field" %>
  </div>
  <div class="box">
    <%= f.label("Delivery?", :class =>"field-label") %><br>
    <%= f.check_box :delivery, :class => "form-field" %>
  </div>
  <br><br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
