<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= share.animal %>
</p>

<p>
  <strong>Size:</strong>
  <%= share.size %>
</p>

<p>
  <strong>Price per lb: $</strong>
  <%= share.price %>
</p>

<p>
  <strong>Processing Fee: $</strong>
  <%= share.fee %>
</p>

<p>
  <strong>Delivery? </strong>
  <% if share.delivery == true %>
    <p>Yes</p>
  <% else %>
    <p>No</p>
  <% end %>
</p>